@model ProductCatalogViewModel
@{
    ViewData["Title"] = "Продукты";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <form asp-controller="Product" asp-action="Filter" method="get">
        <input value="@Model.Search" name="search" placeholder="Поиск продукта:" />
        <select name="categoryId">
            <option value="">Все категории</option>
            @foreach (var c in Model.Categories)
            {
                <option value="@c.Id" selected="@(Model.SelectedCategory == c.Id)">@c.Name</option>
            }
        </select>

        <select name="sort">
            <option value="">Без сортировки</option>
            <option value="name">По имени (возр)</option>
            <option value="name_desc">По имени (убыв)</option>
            <option value="description">По описанию (возр)</option>
            <option value="description_desc">По описанию (убыв)</option>
            <option value="cost">По стоимости (возр)</option>
            <option value="cost_desc">По стоимости (убыв)</option>
            <option value="generalNote">По общему примечанию (возр)</option>
            <option value="generalNote_desc">По общему примечанию (убыв)</option>
            @if (User.IsInRole("AdvancedUser") || User.IsInRole("Administrator"))
            {
                <option value="specialNote">По специальному примечанию (возр)</option>
                <option value="specialNote_desc">По специальному примечанию (убыв)</option>
            }
        </select>

    <button type="submit" class="btn btn-primary">Фильтр</button>
    </form>

    <form asp-controller="Product" asp-action="Add" method="post">
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>

    <table>
        <tr>
            <th width="15">Наименование продукта</th>
            <th>Категория</th>
            <th>Описание</th>
            <th>Стоимость в рублях</th>
            <th>Примечание общее</th>
            @if (User.IsInRole("AdvancedUser") || User.IsInRole("Administrator"))
            {
                <th>Примечание специальное</th>
            }
        </tr>

        @foreach (var product in Model.Products)
        {
            <tr id="row-@product.Id">
                <td>@product.Name</td>
                <td>@product.Category</td>
                <td>@product.Description</td>
                <td>
                    <span class="price" data-value="@product.Cost">@product.Cost</span> *
                </td>
                <td>@product.GeneralNote</td>
                @if (User.IsInRole("AdvancedUser") || User.IsInRole("Administrator"))
                {
                    <td>@product.SpecialNote</td>
                }

                <td class="action-buttons">

                    <form asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" method="post">
                        <button type="submit" class="btn btn-warning">Редактировать</button>
                    </form>

                    @if (User.IsInRole("AdvancedUser") || User.IsInRole("Administrator"))
                    {
                        <form asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" method="post">
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    }
                </td>

            </tr>
        }
    </table>
    <script>
        async function deleteProduct(id)
        {
            if (!confirm('Удалить запись?')) return;

            const response = await fetch(`/api/ProductApi/${id}`,
            {
                method: 'DELETE',
                headers: { 'X-Requested-With': 'XMLHttpRequest' }
            });

            if (!response.ok) {
                alert('Ошибка при удалении');
                return;
            }

            const data = await response.json();

            if (data.success) 
            {
                document.getElementById(`row-${id}`)?.remove();
            }
        }

        document.querySelectorAll('.price').forEach(p => {
            p.addEventListener('mouseenter', async () => {
                const rub = p.dataset.value.replace(',', '.');
                const res = await fetch('/api/CurrencyApi?value=' + rub);
                const usd = await res.text();
                alert('Стоимость в USD: ' + usd);
            });
        });

    </script>
</body>
</html>